nav {
    position: fixed;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: #4CAF50;
}

img.bg {
    min-width: 100%;
    min-height: 256px;
      
    /* Set up proportionate scaling */
    height: 100%;
    width: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}